.cover {
    margin-top: 92px;
    align-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(288px, 1184px);
}

@media screen and (max-width: 768px){
    .cover {
        margin-top: 90px;
    }
}
@media screen and (max-width: 320px){
    .cover {
        margin-top: 66px;
    }
}